@{
    ViewData["Title"] = "About";
}

<p>WeatherApp is an API based application that showcases weather condition of a region. The application is written in C#.</p>
<h4>Tools Used:</h4>
<p>Microsoft Visual Studio</p>
<p>.NET</p>
<p>C#</p>