@{
    ViewData["Title"] = "Deleted";
}

<h2>DATA HAS BEEN UPDATED</h2>

<form action="/Home">
    <input type="submit" value="Home" />
</form>

<style>
    body {
        background-image: url("images.jpg");
    }
</style>